@model string

@{
    ViewData["Title"] = "Unsubscribe";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Unsubscribe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <div class="container text-center">
        <h1>Unsubscribe</h1>
        <p>@Model</p>
    </div>
</body>
</html>
